node_modules
npm-debug.log
.git
.gitignore
README.md
.env
frontend/node_modules
backend/node_modules
frontend/build
backend/build
frontend/.next
backend/.next
Dockerfile
docker-compose.yml
.dockerignore
public
.vscode
.idea
.DS_Store
